.sidebar{
    height: calc(100vh - 60px);
    border-right: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    user-select: none;
}

.switchViewBtn{
    width: 100%;
    border-radius: 0;
    background-color: #dedede;
}
.switchViewBtn:hover{
    background-color: #bbbbbb;
    color: white;
}