.mainChatWindow {
    width: 300px;
    height: 400px;
    border: 1px solid #dedede;
    /* position: absolute;
    bottom: 0;
    right: 10px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    overflow: hidden;
}

.chatHeader {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #f5f5f5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.chatContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 0px 5px;
    overflow-y: scroll;
}



.chatInput {
    width: 100%;
    padding: 8px 10px;
    border-top: 1px solid #dedede;
    display: flex;
    gap: 8px;
    background-color: #fff;
    user-select: none;
}

.inputField {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
}

.inputField:focus {
    border-color: #0074e9;
}

.sendButton {
    background-color: #0074e9;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.sendButton:hover {
    background-color: #005fcc;
}

.memberImage{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #dedede;
}



/* For Chrome, Edge, and Safari */
.chatContent::-webkit-scrollbar {
    width: 6px;
}

.chatContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.chatContent::-webkit-scrollbar-track {
    background: transparent;
}