.searchWrapper{
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 0.5rem;
}
.searchBarAndBtn{
    height: 30px;
}

.searchWrapper input{
    border:0;
    outline: 0;
    padding: 0px 10px;
}
.dropdown{
    position: absolute;
    background-color: white;
    top: 37px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding: 5px;
    border:1px solid #dedede;
}
.searchBtn{
    height: 100%;
    border:0;
    padding: 0px 10px;
    background-color: aqua;
    cursor: pointer;
}
.searchBtn:disabled{
    background-color: #dedede;
    color: white;
}
.dropdown button{
    width: 100%;
    border: 0;
    background-color: transparent;
    padding:10px 10px;
}
.dropdown button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}